*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mCSB_inside > .mCSB_container {
    margin: 0;
}

/* Main container */

.wrapper {
    height: 100vh;
    background-color:rgb(0, 0, 0);
}


/* Custom Scroll  */

.scroll--word {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    position: fixed;
    left: 19.7px;
    top: 38%;
    transform: rotate(-90deg);
    font-weight: 100;
    color: #fff;
}

#mCSB_1_scrollbar_vertical {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999999;
    height: 90px !important;
    display: block !important;
}

.mCSB_draggerContainer {
    height: 90px !important;
}

#mCSB_1_dragger_vertical {
    min-height: 0 !important;
    max-height: 0 !important;
    height: 0 !important;
}

.mCSB_dragger_bar {
    height: 12px !important;
    width: 12px !important;
    transition: transform 0.5s ease !important;
    background-color: #fff !important;
}

.mCSB_draggerRail {
    height: 90px !important;
    background-color: #fff !important;
}

.mCSB_dragger_bar:active {
    transform: scale(1.3);
}

/* DO YOUR THINGS HERE */

